html {
   box-sizing: border-box;
}

*,
*::before,
*::after {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}

body {
   display: grid;
   grid-template:
      "sidebar header" max-content
      "sidebar content" 1fr
      / max-content 1fr;
}

header {
   grid-area: header;
}

nav {
   grid-area: sidebar;
}

main {
   grid-area: content;
}
